<div class="row footerRow">
		<div class="col footerCol">
			<div class="parent5">
			<div class="child5">
				<h1 class="heading12">LINKS</h1>
				<ul>
				<li><a href="#" class="btn rounded-1">Testimonials</a></li>
				<li><a href="#" class="btn rounded-1">Refer A Friend</a></li>
				<li><a href="#" class="btn rounded-1">Blog</a></li>
				<li><a href="#" class="btn rounded-1">Recipees</a></li>
				<li><a href="#" class="btn rounded-1">Our Boxes</a></li>
				<li><a href="#" class="btn rounded-1">FAQs</a></li>
				<li><a href="#" class="btn rounded-1">Delivery</a></li>
				<li><a href="#" class="btn rounded-1">Careers</a></li>
				</ul>
			</div>

			<div class="child5">
				<h1 class="heading12">FOLLOW US</h1>
				<button type="button" class="btn btn-lg rounded-1">Newsletter</button>
				<div>
					<a href="#">
						<div class="iTagDiv rounded-circle"><i class="fab fa-facebook-f" style="color: #26532B;"></i></div>
					</a>
					
					<a href="#">
						<div class="iTagDiv2 rounded-circle"><i class="fab fa-instagram" style="color: #26532B;"></i></div>
					</a>
					
					<a href="#">
						<div class="iTagDiv3 rounded-circle"><i class="fab fa-twitter" style="color: #26532B;"></i></div>
					</a>
					<a href="#">
						<div class="iTagDiv4 rounded-circle"><i class="fab fa-linkedin-in" style="color: #26532B;"></i></div>
					</a>
				</div>
			</div>

			<div class="child5">
				<h1 class="heading12">GET IN TOUCH</h1>
				<button type="button" class="btn btn-lg rounded-1">Help and support</button>
			</div>
			</div>

			<div class="linkDiv">
			<a class="link1" href="#">TERMS & CONDITIONS | PRIVATE POLICY</a>
			<a class="link2" href="#">TERMS & CONDITIONS | SOCIAL MEDIA</a>
			<a class="link3" href="#">MANAGE COOKIES</a>
			</div>

			<div>
			<hr style="color: white;">
			<p class="para100">&copy; 2025 FRUTTS DELIVERY LIMITED</p>
			</div>
		</div>
		</div>
