<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="icon" type="text/css" href="/static/fontawesome/svgs/solid/box.svg">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>404 Page</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center mt-5">
                    <h1 class="display-1">404</h1>
                    <h2 class="display-4">Page Not Found {{e}}</h2>
                    <p class="lead">The page you are looking for does not exist or has been moved.</p>
                    <a href="/" class="btn btn-primary">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>